[Bb]in
[Oo]bj
*.suo
*.user
*.sln.docstates
*.Publish.xml
*.Cache$
packages
TestResults

_UpgradeReport_Files/
Backup*/
UpgradeLog*.xml
UpgradeLog.htm
Desktop.ini
[Tt]humbs.db
*.zip
*.rar
